.main {
	padding: 1.5rem;
	.country-cards {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(min(95%, 350px), 1fr));
		gap: 4rem;
		justify-items: center;
	}
	.card {
		background-color: white;
		box-shadow: 1px 1px 5px rgba(114, 111, 111, 0.411);
		border-radius: 5px;
		width: min(95%, 300px);
		max-height: 350px;
		padding-bottom: 2rem;
		transition: transform 0.3s ease-in-out;
		cursor: pointer;
		&:hover {
			transform: scale(1.1);
		}
		&__description {
			padding: 2rem 2rem 0 2rem;
			display: flex;
			flex-direction: column;
			justify-content: center;
			gap: 1rem;
		}
		&__name {
			font-size: 2rem;
			font-weight: 800;
			margin-bottom: 1.8rem;
		}
		&__img {
			width: 100%;
			max-height: 150px;
			object-fit: cover;
			border-radius: inherit;
			box-shadow: 0 4px 10px -8px gray;
		}
		&__population,
		&__region,
		&__capital {
			font-size: 1.4rem;
			span {
				font-weight: 600;
			}
		}
	}
}
