@use '../abstracts/variables' as v;
.navigation {
	background-color: white;
	box-shadow: 1px 1px 5px rgba(114, 111, 111, 0.411);
	&__wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
		max-width: 1600px;
		padding: 3rem 2rem;
		margin: 0 auto;
	}
	&__logo {
		color: inherit;
		font-weight: 800;
		text-decoration: none;
		font-size: 1.7rem;
	}
	&__theme-btn {
		padding: 1rem;
		border: none;
		background: none;
		color: inherit;
		i {
			font-size: 1.4rem;
		}
	}
}
